@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

@theme {
  --color-base: #13131A;
  --color-baseTwo: #000;
  --color-primary: #1ab69d;
  --color-third: #eaf0f2;

}

/* Gradient animation for loader text */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s ease infinite;
}

.animate-gradient-custom {
  animation: gradient 3s ease infinite;
}





/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1ab69d;
  border-radius: 10px;
}